
:root{
    --headerColor: rgb(87, 12, 87);
    --headerTextColor: white;
    --sidebarColor: rgb(88, 10, 88);
    --sidebarTextColor: white;
    --containerBackground: rgb(141, 114, 156);
    --popupBackground: rgb(206, 187, 216);

    --doBoxColor: rgb(220, 200, 220);
    --doBoxHoverColor: rgb(255, 235, 255);
    --doBoxTextColor: black;

    --highPriority: rgb(255, 0, 50);
    --midPriority: rgb(255, 205, 0);
    --lowPriority: rgb(0, 235, 50);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

button {
	background: none;
	color: var(--doBoxTextColor);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.doDate{
    color: var(--doBoxTextColor);
}

#addToDo, #projectadder{
    color:var(--sidebarTextColor);
}

#addToDo{
    font-size: 1.6rem;
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: bold;
}

#topcontainer{
    display: grid;
    grid-template-columns: 250px minmax(500px, 1fr);
    grid-template-rows: 1fr;
    min-height: 100vh;
    gap: 0px;
}


#logoContainer{
    background-color: var(--sidebarColor);
    color: var(--sidebarTextColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftSidebar img{
   width: 100%;
}


#taskcontainer{
    padding: 10px 5px;
    background-color: var(--containerBackground);
    grid-column: 2 / 4;
    grid-row: 1 / 4;
}

.doBox{

    background-color: var(--doBoxColor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px 20px 10px 20px;
    border-left: 7px solid var(--highPriority);
    border-radius: 2px;
    margin: 5px 15px 10px 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    transition: background-color 0.2s;

}

.doBox:hover{
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    background-color: var(--doBoxHoverColor);
}

.priority2{
    border-color: var(--midPriority);
}

.priority1{
    border-color: var(--lowPriority);
}

.doBox .toDoName {
    margin-right: auto;

}

#leftSidebar{
    color: var(--sidebarTextColor);
    background-color: var(--sidebarColor);
    color: var(--sidebarTextColor);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    z-index: 2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

#leftSidebar button{
    color: var(--sidebarTextColor);
}

#projectHeader{
    font-weight: bold;
    font-size: 1.3rem;
}

#projectList{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.projectBox{
    padding: 0px 6px;
    display: flex;
    color: var(--sidebarTextColor);
    justify-content: start;
    gap: 10px;
}

#projectadder{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
}

.projectName{
    margin-right: auto;
}

.projectBox:hover{
    border-left: 2px solid var(--sidebarTextColor);
    padding-left: 4px;
}

.activeProjectBox{
    border-left: 2px solid var(--sidebarTextColor);
    padding-left: 4px;
}

.projectBox::before{
    width: 15px;
    border-radius: 15px;
    background-color: var(--sidebarTextColor);
}

#popUpBox{
    background-color: var( --popupBackground);
    color: var(--doBoxTextColor)
}

#popUpHeader{
    background-color: var(--headerColor);
    color: var(--headerTextColor);
}

#popUpClose{
    color: var(--headerTextColor);
}

#todaySelect, #weekSelect{
    opacity: 0%;
    cursor: pointer;
}

#timeselector{
    margin: 5px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}



label{
    cursor: pointer;
}

#leftSidebar label{
    font-weight: bold;
    margin-left: 22px;
    font-size: 1.2rem;

}

input[type="checkbox"] + label{
    padding-left: 8px;
}

input[type="checkbox"]:checked + label{
    border-left: 3px solid var(--sidebarTextColor);
    padding-left: 5px;
}




